<Ui xmlns="http://www.blizzard.com/wow/ui/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
    <!-- Load keybinds.lua FIRST - it exposes FormatKeybind used by actionbars and other modules -->
    <Script file="keybinds.lua"/>
    <!-- Core CDM functionality (load order matters) -->
    <Script file="cooldownmanager.lua"/>
    <Script file="cooldownswipe.lua"/>
    <Script file="cooldowneffects.lua"/>
    <Script file="customglows.lua"/>
    <!-- Main NCDM module -->
    <Script file="qui_ncdm.lua"/>
    <!-- Options -->
    <Script file="qui_ncdm_options.lua"/>
    <Script file="qui_cdeffects_options.lua"/>
    <Script file="qui_cdkeybinds_options.lua"/>
</Ui>
